@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
:root {
  --blue: #03326e;
  --red: #c01b29;
}

h1,
h3,
h2,
h4,
h5,
h6 {
  font-family: "Inter";
  font-weight: 800;
}
.text-color-blue {
  color: var(--blue);
}
.w-80 {
  margin: auto;
  width: 80%!important;
  max-width: 18rem!important;
}
.hidden {
  display: none;
}
.inter {
  font-family: "inter";
  font-weight: 800;
  line-height: 1.3;
  color: var(--blue);
}
.tiles-font {
  font-family: "inter";
  font-weight: 800;
  line-height: 1.3;
  color: var(--blue);
}
.button-red {
  background: linear-gradient(65deg, var(--red) 0, #f03848 100%);
  color: white;
}

.button-primary {
  background-color: var(--blue);
  background: linear-gradient(65deg, #6084d8 0, #1d2b4c 100%);
  color: white;
}
.social img {
  width: 2rem;
}
.social {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* align-items: center; */
}
.modal-inner {
  max-width: 600px;
}

.brand img {
  width: 8rem;
}

.mx-auto {
  margin: auto;
}

.tiles-item {
  cursor: pointer;
}

.tiles-item:hover {
  box-shadow: 0 32px 64px rgba(24, 35, 52, 0.24);
}

.team-item-image {
  height: 300px;
}

.team-item-image img {
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.tiles-item-inner {
  height: auto;
}
.testimonial .tiles-item:hover {
  box-shadow: none;
}
.team-item-name {
  font-family: "inter";
  font-weight: 700;
  font-size: 1.2rem;
}

#powered {
  font-family: "inter";
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 1280px) {
  .container:first-child {
    max-width: 1300px !important;
    margin: auto;
  }

  .inter {
    font-size: 2.5rem;
  }
  .only-mob {
    display: none;
  }
  .mob-hide {
    display: block;
  }
}

.spike {
    background: url('./assets/images/spike.svg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.illustration-section-01::after {
  content: none;
}

.gradient-section {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(233, 236, 248, 0)),
    to(#e9ecf8)
  );
  background: linear-gradient(
    to bottom,
    rgba(233, 236, 248, 0) 0%,
    #e9ecf8 100%
  );
  z-index: 0 !important;
}

.shadow{
  box-shadow:  0 10px 20px rgba(29, 43, 76, 0.24);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.d-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.grid .split-item-image {
  min-width: auto !important;
}
.accordion-header {
  font-family: "inter";
  color: var(--blue);
}
.dot {
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-left: 4px;
  margin-right: 4px;
  width: 8px;
  background-color: #03326e;
}
@media only screen and (max-width: 1280px) {
  .only-mob {
    display: block;
  }
  .mob-hide {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .social {
    justify-content: center;
  }
  #powered {
    justify-content: center;
  }
}
